$black: rgba(#000, .87);
$grey: rgba(#000, .54);
$white: #fff;
$blue: #1976D2;
$red: #f44336;
$green: #4CAF50;
$borderColor: #ddd;

$font-family: Roboto, sans-serif;
$font-size: 16px;

$lowElevation: 0 1px 1px rgba($black, .5);
$elevation1Shadow: 0 1px 3px rgba(#000, .5);
$elevation3Shadow: 0 3px 7px rgba(#000, .5);
$elevation5Shadow: 0 5px 15px rgba(#000, .5);
